/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row1{border-bottom:1px solid;}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{}
#header #logo h1{margin:0; padding:0; font-size:22px;}
.logo-img {height: 50px;}
.top {display: flex; justify-content: space-around;align-items: center;}

.lang img {width: 20px; margin: 0 5px;}
/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:100px 0 100px;}

#pageintro article{max-width:65%; margin:0 auto; text-align:center;}
#pageintro article *{text-transform:uppercase;}
#pageintro article .heading{margin:0 0 30px 0; padding:0; line-height:1; font-size:46px;}
#pageintro article .heading:first-of-type{line-height: 1.5;}
#pageintro article p{margin:0;}
#pageintro article p:first-of-type{margin-bottom:20px; font-size:18px; letter-spacing:5px;}
#pageintro article footer{margin-top:50px;}


/* Intro Blocks
--------------------------------------------------------------------------------------------------------------- */


#introblocks ul{display:table; width:100%; height:100%; border:none;}
#introblocks ul li{display:table-cell; width:33.33333333333333%; height:100%; padding:5% 2%; border:solid; border-collapse:collapse; border-width:0 1px 0 0;}
#introblocks ul li:last-child{border:0;}
#introblocks ul li *{margin:0; padding:0; line-height:normal; padding-bottom: 10px;}
#introblocks ul li p:last-child{padding-bottom: 0;}
#introblocks ul li div{position:relative; padding-left:65px; word-wrap:break-word; padding-bottom: 0;}
#introblocks ul li div i{display:block; position:absolute; top:-2px; left:0; width:50px; font-size:46px; line-height:1;}
#introblocks ul li div .heading{font-size:1.2rem;}
#introblocks ul li div.social-info{ position: absolute;left: -60px; }

/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:50px 20px;}

/* Content */
.container .content{}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

/* Cta
--------------------------------------------------------------------------------------------------------------- */
.cta{padding:50px 0;}

.cta > :first-child{margin-top:10px;}
.cta > :last-child{margin-bottom:0;}/* Used when elements stack in smaller viewports */

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul.clear{margin-top:3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px; min-width: 480px;}
th, td{padding:5px 8px;}
td{border-width:0 1px; vertical-align: middle;}
.table-wrapper{overflow-x: auto;}

/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#FFFFFF;}
.faico a:hover{}

.faicon-facebook:hover{background-color:#3B5998;}


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#CBCBCB; background-color:#1A1A1A;}
a{color:#C96D9F;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#56AED4;}
.overlay{color:#FFFFFF; background-color:#8f8c8c;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
article.hoc.container.clear.center {background-color: rgba(255, 255, 255, 0.8); color: #474747;}
.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#C96D9F; border-color:#C96D9F;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}
article.hoc.cta.clear {color: #474747;}
.icon{color:#C96D9F; border-color:inherit;}
.icon:hover{color:#FFFFFF; background-color:#C96D9F;}
.unordered {list-style-type: none;}
.more {padding: 10px; border: 1px solid #C96D9F; border-radius: 5px;}
.more:hover {color: #FFFFFF; background-color: #C96D9F;}

/* Rows */
.row1{color:#FFFFFF; border-color:rgba(255,255,255,.2);}
.row2, .row2 a{}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#CBCBCB; background-color:#272727;}
.row5, .row5 a{color:#CBCBCB; background-color:#1A1A1A;}


.news .container {background-color: rgba(255, 255, 255, 0.85);}
.news{ border-bottom: 1px solid #C96D9F; }
.news .news-body{text-align: justify; margin-bottom: 40px;}
.news .first {position: relative;}
.news .news-logo {position: absolute; height: 50px; right: 0; top: -50px;}
.coloured{color:#FFFFFF; background:#e7c9a7;}
.coloured .btn{color:inherit; background-color:transparent; border-color:inherit;}
.coloured .btn:hover{color:#C96D9F; background-color:#FFFFFF;}

/* Header */
#header #logo a{color:inherit;}


/* Intro Blocks */
#introblocks{color:#FFFFFF; background-color:rgba(255,255,255,.2);}
#introblocks li:hover{background:#C96D9F;}
#introblocks ul, #introblocks ul li{border-color:#000000;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#C96D9F; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#C96D9F;}
#mainav form select{color:#FFFFFF; background-color:#000000; border-color:rgba(255,255,255,.2);/* #FFFFFF */}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#C96D9F;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#C96D9F;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#C96D9F;}

#backtotop{color:#FFFFFF; background-color:#C96D9F;}

.background {
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.red {background-color: #e9d0d0;}
.orange {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
article.hoc.cta.clear {
	background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
}

.news-header {
	font-weight: bold;
}

/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7; color: #474747; text-align: center;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#C96D9F;}
th{color:#373737; background-color:#FFFFFF;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB; border: 1px solid #cbcbcb;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit;}
table a, #comments a{background-color:inherit;}

.social-info img{
	width: 20px;
}
.main-list{
	color: #fff;
	display: block;
}
.main-list.social-contact {
	position: relative;
}

.price-header {
	display: flex;
	justify-content: space-between;
}
.price-header p, .price-header h2{
	margin: 0 0 30px;
}